body {
    background-color: rgb(241, 206, 206);
}
div {
background-color: rgb(255, 255, 255);
color: rgb(31, 30, 30);
}
header {
color: #fafafa;
font-size: 60px;
text-align: center;
background-color: rgb(163, 119, 93);
}
h1 {
font-size: 25px;
}

table {
font-size: 15px;
background-color: rgb(255, 255, 255);
border: 1px solid rgb(255, 255, 255);
}
nav {
font-size: 18px;
}
footer {
font-size: 14px;
color: rgb(31, 30, 30);
  
}






  

