body{
    background-color: rgb(72, 99, 112);
margin: 20px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
color: rgb(250, 249, 249);
font-size: medium;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
border: rgb(250, 247, 250);
}

img {

}

hi{
color: rgb(10, 10, 10);

}

h2 {

   color: rgb(5, 5, 5); 
}